.section-title h2{
    text-align: center;
    font-family: "Nunito", sans-serif;
    color: #5045CB;
    /*border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    padding: 5px;*/
}

/*-----------SIDEBAR--------------*/

.blog .sidebar .categori {
    margin-bottom: -10px;
  }
  .blog .sidebar .categori ul {
    list-style: none;
    padding: 0;
  }
  .blog .sidebar .categori ul li {
    display: inline-block;
  }
  .blog .sidebar .categori ul a { /*tulisan*/
    font-family: "Nunito", sans-serif;
    color: #5045CB;
    font-size: 20px;
    padding: 6px 14px;
    margin: 0 6px 8px 0;
    border: 2px solid #5045CB;
    display: inline-block;
    transition: 0.3s;
    border-radius: 10px;
  }
  .blog .sidebar .categori ul a:hover {
    color: #fff;
    border: 2px solid #000000;
    background: #000000;
  }
  .blog .sidebar .categori ul a span {
    padding-left: 5px;
    color: #a5c5fe;
    font-size: 14px;
  }